<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <h1>Register for AppScan</h1>
    </head>
    <body>
        <h2>Welcome to AppScan!</h2>
        <p>Please enter your information to register for AppScan.</p>
        <form method="post">
            <label for="username">Username:</label>
            <input type="username" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" value="Register" name="Register">
        </form>
        <br>
        <p>Already have an account? <a href="http://localhost:5000/login">Login here</a></p>
        <br>
        <br>
        <p>Don't worry, we won't share your data with anyone!</p>
    </body>
</html>
